body{
    height: 50vh;
    width: 100vw;
    background-color: #669bbc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{ display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#btn{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#clear{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}