body{
    display: flex;
height: 70vh;
  justify-content: center;
  align-items: center;
}

.field{
    flex-direction: column;
    display: flex;
    gap: 5px;
}
.btn{
    cursor: pointer;
    padding: 4px 15px 4px 15px;

}